##Assignment 1

In [3]:
import numpy as np

#1. Write code to create a 4x3 matrix with values ranging from 2 to 13.

In [9]:
arr1 = np.arange(2,14).reshape(4,3)
arr1

array([[ 2,  3,  4],
       [ 5,  6,  7],
       [ 8,  9, 10],
       [11, 12, 13]])

##2. Write code to replace the odd numbers by -1 in the array created by using random.randint( 1 , 50,20)

In [19]:
arr1 = np.random.randint(1,50,20)
arr1

array([40, 32,  3, 40, 36, 11, 45, 35, 23, 32, 31, 32, 29, 15, 36, 22, 33,
       10, 31, 28], dtype=int32)

In [20]:
arr1 [arr1 %2 !=0] = -1
arr1

array([40, 32, -1, 40, 36, -1, -1, -1, -1, 32, -1, 32, -1, -1, 36, 22, -1,
       10, -1, 28], dtype=int32)

#3. Perform the following operations on an array of mobile phones prices 6999, 7500, 11999, 27899, 14999, 9999. a. Create a 1d-array of mobile phones prices

In [72]:
mo_prices = np.array([6999,7500,11999,27899,14999,9999])
mo_prices

array([ 6999,  7500, 11999, 27899, 14999,  9999])

#b. Convert this array to float type

In [73]:
mo_prices.astype(float)

array([ 6999.,  7500., 11999., 27899., 14999.,  9999.])

#c. Append a new mobile having price of 13999 Rs. to this array

In [74]:
mo_prices= np.append(mo_prices,13999)
mo_prices

array([ 6999,  7500, 11999, 27899, 14999,  9999, 13999])

#d. Reverse this array of mobile phones prices

In [75]:
mo_prices[::-1]

array([13999,  9999, 14999, 27899, 11999,  7500,  6999])

#e. Apply GST of 18% on mobile phones prices and update this array.

In [76]:
mo_prices * 1.18

array([ 8258.82,  8850.  , 14158.82, 32920.82, 17698.82, 11798.82,
       16518.82])

#f. Sort the array in descending order of price

In [77]:
mo_prices = np.sort(mo_prices)[::-1]
mo_prices

array([27899, 14999, 13999, 11999,  9999,  7500,  6999])

#g. What is the average mobile phone price

In [78]:
mo_prices.mean(dtype='int')

np.int64(13342)

#h. What is the difference b/w maximum and minimum price

In [80]:
mo_prices.max() - mo_prices.min()

np.int64(20900)

#4. Find out the indices of non zero element in given array [1,2,0,0,4,0]

In [87]:
arr1 = np.array([1,2,0,0,4,0])
arr1

array([1, 2, 0, 0, 4, 0])

In [88]:
arr1 = np.nonzero(arr1) # Return the indices of element that are nonzero.
arr1

(array([0, 1, 4]),)