In [17]:
import pandas as pd

## 1. Refer to googleplaystore.csv file and solve following questions 
### a. Display First 5 records from Dataframe.

In [18]:
data = pd.read_csv('datasets/googleplaystore.csv')

In [19]:
data.columns ## It will give the name of a all columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [20]:
data.head() ## It will give the starting five record data.

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

### b. Display category with highest number of apps registered.

In [21]:
result = data['Category'].value_counts().max()

In [22]:
result

np.int64(1972)

### c. What is the average rating for all the apps

In [23]:
avg = data['Rating'].mean()

In [24]:
avg

np.float64(4.193338315362443)

### d. Display total number of apps which even supports Andriod version 2.3 and up

### e. Impute the missing values available in rating column with respective measure of central tendency.

In [25]:
data.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [26]:
data.shape

(10841, 13)

In [27]:
data['Rating'].fillna(avg,inplace=True)

C:\Users\91814\AppData\Local\Temp\ipykernel_9224\2276877066.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Rating'].fillna(avg,inplace=True)

## 2. Refer to salaries.xlsx file and solve following questions
### a. Check head of the dataframe

In [30]:
data = pd.read_excel('Datasets/Salaries.xlsx')

In [31]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

### b. Find out details about no. of entries & no. of columns in the data frame

In [32]:
data.shape

(1000, 13)

### c. What is the average base pay?

In [34]:
data['BasePay'].mean()

np.float64(145663.9982)

### d. What is the highest amount of overtime pay in the dataset?

In [36]:
data['OvertimePay'].max()

np.float64(245131.88)

### e. What is the job title of JOSEPH DRISCOLL?

In [44]:
data.loc[data['EmployeeName']=='JOSEPH DRISCOLL','JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

### f. How much does JOSEPH DRISCOLL make (including benefits)?

In [51]:
data.loc[data['EmployeeName']=='JOSEPH DRICOLL']['TotalPayBenefits']
### ERROR ASK MAM FOR THIS ONE

Series([], Name: TotalPayBenefits, dtype: float64)

### g. How many unique job titles are there?

In [55]:
# data['JobTitle'].unique()
data['JobTitle'].nunique()

113

### h. What are the top 5 common jobs?

In [56]:
data['JobTitle'].value_counts().head(5)

JobTitle
FIREFIGHTER                           133
LIEUTENANT, FIRE DEPARTMENT            62
FIRE FIGHTER PARAMEDIC                 43
CAPTAIN, FIRE SUPPRESSION              42
BATTALION CHIEF, (FIRE DEPARTMENT)     41
Name: count, dtype: int64